.App{
    background-image: url(https://i.ytimg.com/vi/RRIjBVsGNKg/maxresdefault.jpg);
    width: 100%;
    position: absolute;
    background-size: cover;
}
.hero {
    display: flex;
    align-items: flex-start;
    
}

.hero img {
    width: 8rem;
    
}

.hero span {
    font-size: 2rem;
    margin-top: 1.5rem;
    font-weight: bold;
}

.container-login {
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.container-login form,
.search-name,
.search-type {
    width: fit-content;
    position: relative;
}

.container-login form input,
.search-name input,
.search-type {
    height: 3rem;
    width: 22rem;
    border-radius: 3rem;
    border: none;
    box-shadow: -10px -10px 15px rgb(58 58 58 / 9%), 10px 10px 15px rgb(66 66 66 / 35%);
    padding-left: 1rem;
    color: var(--grey);
    font-size: 1.25rem;
}

input:focus,
select:focus,
button:focus {
    outline: none;
}

.container-login form button,
.search-name button {
    position: absolute;
    right: 0;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    border: none;
    background-color: rgb(131, 12, 131);
    cursor: pointer;
    transition: .2s all;
}

.container-login form button:hover,
.search-name button:hover {
    background-color: var(--blue);
}

.container-login form button i,
.search-name button i {
    color: #eee;
    font-size: 1.2rem;
}

form span {
    display: block;
    text-align: center;
    margin: 1.5rem 0 .75rem;
}